<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}"> 
</head>
<body>
    <h1>Tell us about you!</h1>
    <p>Please answer the following questions to help us estimate your preferences and profile</p>
    <div class="content">
        <h2>Preferences</h2>
        <form id="mainForm" action="/Preferences" method="POST">
            <h5>Favorite Domain</h5>
            <label for="favorite_domain">What is your favorite domain ?</label>
            <select id="favorite_domain" name="favorite_domain" onchange="showCustomDomain(this)">
                <option value="" disabled selected>Select your favorite domain</option>
                <option value="AI">Artificial Intelligence</option>
                <option value="Cybersecurity">Cybersecurity</option>
                <option value="DataScience">Data Science</option>
                <option value="RenewableEnergy">Renewable Energy</option>
                <option value="AddDomain">Add a domain</option>
            </select>

            <div id="domainOverlay" style="display: none;">
                <div id="customDomainInput">
                    <label for="custom_domain">Specify your domain:</label>
                    <input type="text" id="custom_domain" name="custom_domain" placeholder="Enter your custom domain">
                    <button type="button" onclick="SaveUserDomain()">Done</button>
                </div>    
            </div>

            <h5>Career Goals</h5>
            <label for="career_goal">What is your career goal ?</label>
            <select id="career_goal" name="career_goal" onchange="showCustomGoal(this)">
                <option value="" disabled selected>Select your career goal</option>
                <option value="DataScientist">Become a Data Scientist</option>
                <option value="SoftwareEngineer">Become a Software Engineer</option>
                <option value="AcademicResearcher">Pursue Academic Research</option>
                <option value="Entrepreneur">Start My Own Business</option>
                <option value="AddGoal">Add a career goal</option>
            </select>

            <div id="goalOverlay" style="display: none;">
                <div id="customGoalInput">
                    <label for="custom_goal">Specify your career goal:</label>
                    <input type="text" id="custom_goal" name="custom_goal" placeholder="Enter your custom career goal">
                    <button type="button" onclick="SaveUserGoal()">Done</button>
                </div>    
            </div>

            <h5>Cursus Level</h5> 
            <label for="cursus_level">What level interests you?</label>
            <select id="cursus_level" name="cursus_level" onchange="showCustomCursusLevel(this)">
                <option value="" disabled selected>Select your level</option>
                <option value="Associate">Associate Degree</option>
                <option value="Bachelor">Bachelor</option>
                <option value="MasterR">Master (Research)</option>
                <option value="MasterP">Master (Professional)</option>
                <option value="PhD">PhD</option>
                <option value="PGDip">Postgraduate Diploma</option>
                <option value="PGCert">Postgraduate Certificate</option>
                <option value="Executive">Executive Education</option>
                <option value="Foundation">Foundation Program</option>
                <option value="DualDegree">Dual Degree</option>
                <option value="JointDegree">Joint Degree</option>
                <option value="Online">Online Degree</option>
                <option value="AddLevel">Add a specific level</option>
            </select>

            <div id="levelOverlay" style="display: none;">
                <div id="customLevelInput">
                    <label for="custom_level">Specify level of your interest:</label>
                    <input type="text" id="custom_level" name="custom_level" placeholder="Enter a cursus level of your choice">
                    <button type="button" onclick="SaveCursusLevel()">Done</button>
                </div>    
            </div>                                            

            <h5>Catalog Source</h5>
            <div id="url_source">
                <input type="text" name="url" id="url" placeholder="Please insert the cursus catalog URL">
                <button type="button" onclick="SaveURL()">Save</button>
            </div>        

            <div class="submitter">
                <input type="submit" value="Submit">
            </div>
            
        </form>
    </div>
    <div class="content">
        <h2>Profile</h2>
        <h5>Curriculum Vitae</h5>
        <form id="UploadCV" action="/CVHandler" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <input type="file" name="CV" accept=".pdf,.docx,.txt">
            <input type="submit" value="Upload">
        </form>    
    </div>


    <div id="loading-overlay">
        <div id="loading-container">
            <div id="loading-progress"></div>
            <p id="loading-message"></p>
        </div>
    </div>                

        <script src = "{{ url_for('static', filename='js/data.js') }}"></script>
</body>
</html>